/* src/components/recommendationsPage.css */
.recommendations-container {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

h1 {
  text-align: center;
  color: #333;
  font-size: 2rem;
  margin-bottom: 20px;
}

.loading {
  text-align: center;
  font-size: 1.5rem;
  color: #333;
}

.error {
  color: red;
  text-align: center;
  font-size: 1.5rem;
}

.products {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.product-card {
  background-color: #f8f8f8;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s ease;
}

.product-card:hover {
  transform: translateY(-5px);
}

.product-image {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.product-info {
  margin-top: 10px;
}

.product-info h2 {
  font-size: 1.2rem;
  color: #333;
  margin-bottom: 10px;
}

.product-info p {
  color: #777;
  font-size: 1rem;
}

.product-info a {
  text-decoration: none;
  color: #007BFF;
  font-weight: bold;
  font-size: 1rem;
}

.product-info a:hover {
  text-decoration: underline;
}
